@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fugaz+One&family=Lobster&display=swap');

:root {
    --primary-color:#000; 
    --gray:#5C5C5C;
    --white:;
    --abril:'Abril Fatface',cursive;
    --fugaz:'Fugaz One',cursive;
    --lobster:'Lobster',cursive;
}

.primary
